<!DOCTYPE html>
<html>
  <head>
    <title>My recipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="aXFQ89-5xgLej9aEl-Q8hlSNwh_uk0yJahmbknEqwTA" />
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container">
      <%= yield %>  
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/advertisement' %>
  </body>
</html>
